html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
        }
        .container {
            position: relative;
        }
        .hexagon {
            position: relative;
            width: 221px;
            height: 256px;
            background-color: #262626;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #e5e5e5;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
        }
        
