html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
        }
        .hexagon {
            position: relative;
            height: 256px;
            width: 221px;
            background-color: #262626;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            margin: 50px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #e5e5e5;
            border: 6px solid #e5e5e5;
        }
