html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000000;
        }
        .container {
            position: relative;
        }
        .hexagon {
            position: relative;
            width: 221px;
            height: 256px;
            background-color: #000000;
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: #e5e5e5;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.8),
                        0 0 40px rgba(255, 255, 255, 0.5);
            transition: box-shadow 0.3s ease;
}
            .hexagon:hover {
            box-shadow: 0 0 30px rgba(255, 255, 255, 1),
                        0 0 60px rgba(255, 255, 255, 0.7);
}
        
